<p id="notice"><%= notice %></p>

<h1>Food Trucks</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foodtrucks.each do |food_truck| %>
      <tr>
        <td><%= link_to 'Show', food_truck %></td>
        <td><%= link_to 'Edit', edit_food_truck_path(food_truck) %></td>
        <td><%= link_to 'Destroy', food_truck, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Food Truck', new_food_truck_path %>
